<br>
<div class="container">
  <div class="row">
    <div class="col-7"></div>
    <div class="col-5">
      <label for="buscar">Buscar</label>
      <input (ngModelChange)=buscar() class="form-control" type="text" name="buscar" id="buscar" [(ngModel)]=busqueda>
      <!--<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />    -->
    </div>
  </div>
  <br>
  <br>
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-4">
            <br>
             <form [formGroup]="proyectoForm">
                <div class="form-group text-center">
                  <label for="exampleFormControlInput1">Titulo</label>
                  <input type="text" class="form-control" id="titulo" formControlName="titulo">

                  <label for="exampleFormControlInput1">Area</label>
                  <input type="text" class="form-control" id="area" formControlName="area">

                  <label for="exampleFormControlInput1">Lenguaje</label>
                  <input type="text" class="form-control" id="lenguaje" formControlName="lenguaje">

                  <label for="exampleFormControlInput1">Descripcion</label>
                  <textarea type="text" class="form-control" id="descripcion" formControlName="descripcion"></textarea>
                  
                  <label for="exampleFormControlInput1">Desarrolladores</label>
                  <input type="text" class="form-control" id="desarrolladores" formControlName="desarrolladores">

                  <label for="exampleFormControlInput1">Contactos</label>
                  <input type="text" class="form-control" id="contactos" formControlName="contactos">
                  <br>

                  <label for="exampleFormControlInput1">Semestre</label>
                  <input type="text" class="form-control" id="semestre" formControlName="semestre">
                  <br>

                  <label for="exampleFormControlInput1">Año</label>
                  <input type="text" class="form-control" id="año" formControlName="año">
                  <br>

                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" formControlName="tripticoProy" (change)="handleTriptico($event)">
                      <label class="custom-file-label" for="inputGroupFile04"><mat-icon>cloud_upload</mat-icon> Subir pdf</label>
                    </div>
                  </div>
                  <br>

                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" formControlName="imageProy" (change)="handleImage($event)">
                      <label class="custom-file-label" for="inputGroupFile04"><mat-icon>cloud_upload</mat-icon> Subir imagen</label>
                    </div>
                  </div>
                  <br>  
                  
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" formControlName="videoProy" (change)="handleVideo($event)">
                      <label class="custom-file-label" for="inputGroupFile04"><mat-icon>cloud_upload</mat-icon> Subir video</label>
                    </div>
                  </div>

                  <br>
                  <button class="btn btn-success" (click)=agregar(bienDialog,errorDialog)>Guardar</button><br><br>
                  <!--<button class="btn btn-info" (click)=modificar(bienDialog,errorDialog)>Modificar</button>-->
                </div>
              </form>
        </div>
        <div class="col-1">

        </div>
        <div class="col-6" *ngIf="busqueda.length<2">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Area</th>
                    <th scope="col">Lenguaje</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Desarrolladores</th>
                    <th scope="col">Contactos</th>
                    <th scope="col">Modificar</th>
                    <th scope="col">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let proyecto of proyectos |async;let i=index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{proyecto.payload.doc.data().titulo}}</td>
                      <td>{{proyecto.payload.doc.data().area}}</td>
                      <td>{{proyecto.payload.doc.data().lenguaje}}</td>
                      <td>{{(proyecto.payload.doc.data().descripcion)| slice:0:10}}...</td>
                      <td>{{proyecto.payload.doc.data().desarrolladores}}</td>
                      <td>{{proyecto.payload.doc.data().contactos}}</td>
                      <td><button class="btn btn-primary" (click)=seleccionar(proyecto.payload.doc)>Seleccionar</button></td>
                      <td><button class="btn btn-danger" (click)=borrar(bienDialog,errorDialog,proyecto.payload.doc.id)>Borrar</button></td>
                    
                  
                </tbody>
              </table>
        </div>
        <div class="col-6" *ngIf="busqueda.length>=2">
          <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">Titulo</th>
                  <th scope="col">Area</th>
                  <th scope="col">Lenguaje</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Desarrolladores</th>
                  <th scope="col">Contactos</th>
                  <th scope="col">Modificar</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let proyecto of proyectosBusq;let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{proyecto.payload.doc.data().titulo}}</td>
                    <td>{{proyecto.payload.doc.data().area}}</td>
                    <td>{{proyecto.payload.doc.data().lenguaje}}</td>
                    <td>{{(proyecto.payload.doc.data().descripcion)| slice:0:10}}...</td>
                    <td>{{proyecto.payload.doc.data().desarrolladores}}</td>
                    <td>{{proyecto.payload.doc.data().contactos}}</td>
                    <td><button class="btn btn-primary" (click)=seleccionar(proyecto.payload.doc)>Seleccionar</button></td>
                    <td><button class="btn btn-danger" (click)=borrar(bienDialog,errorDialog,proyecto.payload.doc.id)>Borrar</button></td>
              </tbody>
            </table>
          </div>
    </div>
    <br><br><br>
    <div class="row text-center">
            <div class="col 6">
                <button class="btn btn-secondary" (click)=cerrarSesion()>Cerrar Sesion</button>
            </div>
    </div>
    <br><br>
</div>
<ng-template #bienDialog class="bg-primary">
    <h2 matDialogTitle class="text-center">Exito</h2>
    <mat-dialog-actions align="end">
      <button mat-button matDialogClose class="btn btn-dark">Aceptar</button>
    </mat-dialog-actions>
  </ng-template>
  
  <ng-template #errorDialog class="bg-danger">
    <h2 matDialogTitle  class="text-center text-white">Error</h2>
    <mat-dialog-actions align="end">
      <button mat-button matDialogClose class="btn btn-light">Aceptar</button>
    </mat-dialog-actions>
    </ng-template>
