<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="45px grid">
    <div fxFlex="100%">
      <div  *ngFor="let proyecto of proyectos | async;  index as id">
        <mat-card class="card" *ngIf="id == item">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>UCB La Paz</mat-card-title>
            <mat-card-subtitle> <td>{{proyecto.payload.doc.data().titulo}}</td></mat-card-subtitle>
          </mat-card-header>
            <iframe [src]="getSantizeUrl(proyecto.payload.doc.data().videoProy)"  frameborder="0" webkitallowfullscreen mozallowfullscreen
            allowfullscreen></iframe>
            <mat-card-content>
              <p>
                <td><h3>Titulo:</h3> {{(proyecto.payload.doc.data().titulo)}}</td>
              </p>
              <p>
              <td><h3>Descripción</h3>   {{(proyecto.payload.doc.data().descripcion)}}</td>
            </p>
              <p>
              <td><h3>Area:</h3> {{(proyecto.payload.doc.data().area)}}</td>
            </p>
            <p>
              <td><h3>Desarrolladores:</h3> {{(proyecto.payload.doc.data().desarrolladores)}}</td>
              
            </p>
               
            <p>
              <td><h3>Año:</h3> {{(proyecto.payload.doc.data().anio)}}</td>
              
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  </div>
  