<div class="container">
    <div class="row ">
        <div class="col-2">

        </div>
        <div class="  col-8  text-center align-content-center align-items-center">
            <h1 class="text-dark">
                Bienvenido de nuevo 
            </h1>
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/usuario.png" alt="Card image cap">
                <div class="card-body">
                  <h1 class="card-title">Login</h1>
                </div>
              </div>
            <button class="btn btn-primary" (click)=iniciarSesion()>
                Ingresar con Google
            </button>
        </div>

    </div>
</div>