<div class="container" style="margin-top: 50px;">
    <div class="row ">
        <div class="col-2">

        </div>
        <div class="  col-8  text-center align-content-center align-items-center">
            <h1 class="text-dark">
                Bienvenido de nuevo 
            </h1>
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/usuario.png" alt="Card image cap">
                <div class="card-body">
                  <h1 class="card-title">Login</h1>
                </div>
              </div>
            <button class="btn btn-primary" (click)=iniciarSesion()>
                Ingresar con Google
            </button>
        </div>

    </div>
</div>

<footer id="footer" class="pb-4 pt-4 page-footer" style="margin-top: 165px;">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-lg">
          <p class="text-white">Universidad Católica Boliviana San Pablo</p>
        </div>
        <div class="col-12 col-lg">
        <a href="https://www.facebook.com/kevin.escobar.712" target="_blanck">Hecho por: Escobar Kevin, </a>
        <a href="https://www.facebook.com/jesuscarlosantonio.rochavedia.1/" target="_blanck">Rocha Antonio, </a>
        <a href="https://www.facebook.com/jesuscarlosantonio.rochavedia.1/" target="_blanck"> Rodriguez Luis</a>
        </div>         
      </div>
    </div>
  </footer>