<div class="content">
  <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off">
  </div>
<div fxLayout="row wrap" fxLayoutGap="45px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let proyecto of (proyectos | async | filter:searchText); index as id">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title >{{proyecto.titulo}}</mat-card-title>
        <mat-card-subtitle> <td>UCB La Paz</td></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="getSantizeUrl(proyecto.imageProy)" alt="Photo of a Shiba Inu">
      <!--<iframe [src]="getSantizeUrl(proyecto.payload.doc.data().videoProy)" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen
      allowfullscreen></iframe>-->
      <mat-card-content >
      <p class="texto">
        <td >Descripción:   {{(proyecto.descripcion)}}</td>
      </p>
      <p>
        <td>Area:   {{(proyecto.area)}}</td>
      </p>
      <p>
        <td>Año:   {{(proyecto.anio)}}</td>
      </p>
    </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/project',id]" class="boton">VER PROYECTO</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
</div>
