<div class="header">
  <!-- <div class="noticia">
    <img class="izquierda" src="assets/logoucb.png">
    <div class="logo">
      Back to the Workshop
    </div>
    <aside>Back to the Workshop</aside>
    <div class="reset"></div>
  </div> -->
  <div class="logo">
    Back to the Workshop
  </div>
  
  <div class="menu">
    <a href="home-page" class="link">
      <div class="title">Home</div>
      <div class="bar"></div>
    </a>
    <a href="galleryPage" class="link">
      <div class="title">Proyectos</div>
      <div class="bar"></div>
    </a>
    <a href="aboutUsPage" class="link">
      <div class="title">Contacto</div>
      <div class="bar"></div>
    </a>
    <a *ngIf="tipo&&logueado" href="admin/login" class="link">
      <div class="title">Administrar</div>
      <div class="bar"></div>
    </a>
    <a *ngIf="tipo&&!logueado" href="admin/login" class="link">
      <div class="title">Login</div>
      <div class="bar"></div>
    </a>
  </div>
</div>

<router-outlet></router-outlet>